<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Transactions</title>
</head>
<body>
    <h1>All Branch Transactions</h1>

  <!-- view_transactions.html -->
<table>
    <thead>
        <tr>
            <th>Branch</th>
            <th>Month</th>
            <th>Cash Sales</th>
            <th>Mpesa Sales</th>
            <th>Branch Exp</th>
            <th>Other Exp</th>
            <th>Salary</th>
            <th>Reliever</th>
            <th>Airtime</th>
            <th>Banking</th>
            
            <th>Payment</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.branch.name }}</td>
                <td>{{ transaction.month }}</td>
                <td>{{ transaction.cash_sales }}</td>
                <td>{{ transaction.mpesa_sales }}</td>
                <td>{{ transaction.branch_expense }}</td>
                <td>
                    {% if transaction.other_expense_reason %}
                        {{ transaction.other_expense_amount }}
                    {% else %}
                        None
                    {% endif %}
                </td>
                <td>{{ transaction.salary }}</td>
                <td>{{ transaction.reliever_salary }}</td>
                <td>{{ transaction.airtime }}</td>
                <td>
                    {% with total_banking=transaction.cash_sales|add:transaction.mpesa_sales %}
                        {{ total_banking|floatformat:2 }}
                    {% endwith %}
                </td>

                <td>
                    {% if transaction.mpesa_transaction_message %}
                        <a href="{% url 'view_sms_text' transaction.id %}">SMS</a>
                    {% elif transaction.bankslip_proof %}
                        <a href="{{ transaction.bankslip_proof.url }}" target="_blank">Bank Slip</a>
                    {% else %}
                        No proof of payment
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'edit_transaction' transaction.id %}">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
